.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
.env
roadmap.md
TESTING.md
ACTIVITY-BAR-GUIDE.md
QA-GUIDE.md
*.vsix
pnpm-lock.yaml
codeToImage.js
credentialsManager.js
extension.js
i18n.js
previewPanel.js
rateLimiter.js
signature.js
threader.js
viewProvider.js
node_modules/**
src/**
build.js
.limitcode/**
